<!-- add_time_slot.html -->
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

<!-- view_time_slots.html -->
<ul>
    {% for time_slot in time_slots %}
        <li>{{ time_slot.start_time }} - {{ time_slot.end_time }}</li>
    {% endfor %}
</ul>
