{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for poster in posters %}
      <div class="col">
        <div class="card">
          <img src="{{ poster.file_field.url }}" class="card-img-top" alt="{{ poster.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ poster.title }}</h5>
            <!-- You can include more details here if needed -->
            <a href="#" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %} 