{% extends "base.html" %}
{% block title %}Online Voting System{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron bg-white">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
       <h1 class="display-4 text-center">Welcome to Campus Voting System</h1>
    <hr class="my-4">
    <div class="d-flex justify-content-center">
      <img src="https://electionbuddy.com/wp-content/uploads/2022/01/Voting-image-6-scaled.jpg" alt="Ballot Box" width="200" height="200">
    </div>
    <hr class="my-4">
    <div class="text-center">
      <p class="lead">This is a simple voting system where you can vote for your favourite candidate.</p>
      <p class="lead">Admin can add candidates and post the election.</p>
      <p class="lead">Users can vote for the candidates.</p>
    </div>
  </div>
</div>

<style>
  body {
    background:url()
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .jumbotron {
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  .jumbotron img {
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
</style>

{% endblock %}
