{% extends 'base.html' %} {% block content %}
<h1 class="text-center mb-3">Poll Questions</h1>
{% if latest_question_list %} {% for question in latest_question_list %}
<section class="hero-section">
  <div class="card-grid">
    <a class="card  d-flex" href="{% url 'details' question.id%}">
      <div class="card__background" style="background-image: url(https://img.freepik.com/free-vector/realistic-vector-icon-ballot-box-made-glass-hand-putting-voting-paper-inside-election-conce_134830-1493.jpg?w=2000)"></div>
      <div class="card__content">
        <p class="card__category">Poll</p>
        <h3 class="card__heading">Click Here To Poll</h3>
      </div>
    </a>
    <a class="card" href="{% url 'results' question.id %}">
      <div class="card__background" style="background-image: url(https://media.istockphoto.com/id/1281075008/vector/success.jpg?s=612x612&w=0&k=20&c=79U0bXwmDlMwkBQ_qyzGItiRtItpXIQJsSKc2UlvQkk=)"></div>
      <div class="card__content">
        <p class="card__category">Result</p>
        <h3 class="card__heading">Click Here To See Result</h3>
      </div>
    </a>
  <div>
 </section>
  </div>
</div>
    {% endfor %} {% else %}
    <p>No polls available</p>
    {% endif %}

    <style>
      :root {
        --background-dark: #2d3548;
        --text-light: rgba(231, 231, 231, 0.9);
        --text-lighter: rgba(255, 255, 255, 0.9);
        --spacing-s: 8px;
        --spacing-m: 16px;
        --spacing-l: 24px;
        --spacing-xl: 32px;
        --spacing-xxl: 64px;
        --width-container: 1200px;
      }
      * {
        border: 0;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      html {
        height: 100%;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
      }
      body {
        height: 100%;
        background: linear-gradient(45deg, #b57bee, #00e3fd);
      }
      .hero-section {
        align-items: flex-start;
        display: flex;
        min-height: 100%;
        justify-content: center;
        padding: var(--spacing-xxl) var(--spacing-l);
      }
      .card-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: var(--spacing-l);
        grid-row-gap: var(--spacing-l);
        max-width: var(--width-container);
        width: 50%;
      }
      @media (min-width: 540px) {
        .card-grid {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      @media (min-width: 960px) {
        .card-grid {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      .card {
        list-style: none;
        position: relative;
        border-radius: var(--spacing-l);
      }
      .card:before {
        content: "";
        display: block;
        padding-bottom: 150%;
        width: 100%;
      }
      .card__background {
        background-size: cover;
        background-position: center;
        border-radius: var(--spacing-l);
        bottom: 0;
        filter: brightness(0.6) saturate(1.2) contrast(0.85);
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform-origin: center;
        transform: scale(1) translateZ(0);
        transition: filter 200ms linear, transform 200ms linear;
      }
      .card:hover .card__background {
        transform: scale(1.05) translateZ(0);
      }
      .card-grid:hover > .card:not(:hover) .card__background {
        filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
      }
      .card__content {
        left: 0;
        padding: var(--spacing-l);
        position: absolute;
        top: 0;
      }
      .card__category {
        color: var(--text-light);
        font-size: 0.9rem;
        margin-bottom: var(--spacing-s);
        text-transform: uppercase;
      }
      .card__heading {
        color: var(--text-lighter);
        font-size: 1.9rem;
        text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
        line-height: 1.4;
        word-spacing: 100vw;
      }
    </style>

    {% endblock %}
  </div>
</section>
