{% extends 'base.html' %} {% block content %}
<h1 class="mb-5 text-center">{{ question.question_text }}</h1>
<div class="q-center">
  <ul class="list-group mb-5-center">
    {% for choice in question.choice_set.all %}
    <li class="list-group-item">
     <span> {{ choice.choice_text }}</span>
      <span class="badge badge-primary float-right">
        {{ choice.votes }} vote{{choice.votes | pluralize }}</span
      >
    </li>
    {% endfor %}
  </ul>
</div>
  <div class="text-center">
    <a class="btn btn-primary" href="{% url 'index' %}">Back To Polls</a>
  </div>
  <style>
    body {
      background: linear-gradient(45deg, #b57bee, #00e3fd);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    .q-center{
      width:500px;
      margin:auto;
    }
    .list-group.mb-5 {
      height: 300px; /* Specify height in pixels or another unit */
      width: 1000px; /* Specify width in pixels or another unit */
    }
    .btn-primary {
      background-color: #ff5733; /* Change the background color */
      color: white; /* Change the text color */
      margin-top: 20px; /* Adjust top margin for centering */
    }
    .badge-primary {
      background-color: #ff5733; /* Change the badge background color */
      color: white; /* Change the badge text color */
      margin-right: 60px;
    }
    .list-group-item{
      display:flex;
      justify-content: space-between;
    }

  </style>
  {% endblock %}
</div>
